// palette : https://coolors.co/cf1717-78e3fd-d1f5ff-eef8ff-7d53de
// palette 2 : https://coolors.co/5b8892-f2f7f2-c2b97f-bcaa99-88665d

$red_dark: #B51212;
$red: #CF1717;
$blue_dark: #30667B;
$blue: #78E3FD;
$blue_light: #D1F5FF;
$teal: #5B8892;
$black: #181A23;
$gray: #474B54;
$gray_light: #D6DFE7;
$white: #EEF8FF;
$purple: #7D53DE;
$brown_light: #BCAA99;
$green: #8CB369;