.logo {
    a {
        display: inline-block;
        width: 15rem;
        height: 5rem;
        vertical-align: middle;
        background: url('/img/logo.png') no-repeat center left;
        background-size: contain;
    }
}

@mixin logoLight() {
    a {
        background-image: url('/img/logo_light.png');
    }
}

.logo--light {
    @include logoLight();
}