$BORDER_SIZE: 5px;

.produit {
    text-align: center;
    width: 18rem;

    a:not(.button) {
        color: $gray;
    }
}

.produit-header {
    position: relative;
    margin: 0 auto 1rem;
    width: $CHALLENGE_THUMB_SIZE + (2 * $BORDER_SIZE);
}

.produit-thumbnail {
    position: relative;
    display: inline-block;
    width: $CHALLENGE_THUMB_SIZE;
    height: $CHALLENGE_THUMB_SIZE;
    border: $BORDER_SIZE solid white;
    cursor: pointer;

    > figure {
        width: $CHALLENGE_THUMB_SIZE;
        height: $CHALLENGE_THUMB_SIZE;

        > img {
            max-width: 100%;
        }
    }

    &:after {
        top: 0;
        left: 0;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }
}

.produit-header:hover {
    .produit-thumbnail {
        &:after {
            opacity: 1;
        }
    }

    .produit-title {
        text-decoration: underline;
    }
}

.produit-title {
    display: flex;
    letter-spacing: 0.05rem;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    line-height: 1.3rem;
    height: 2.6rem;
    font-style: italic;
    text-transform: uppercase;
    color: $blue_dark;
    cursor: pointer;
    background: white;
    align-items: center;
    justify-content: center;
}

.produit-description {
    margin: 0 auto;
    width: $CHALLENGE_THUMB_SIZE;
}

.produit-cta {
    margin-top: 1rem;
}